@media (max-width: 992px) {
  .sidebar {
    display: none;
  }

}
@media (min-width: 993px) {
  .main-header-nav .menu__btn {
    display: none;
  }

  .main-header-nav #menu__toggle{
    display: none;
  } 
  .main-header-nav .mobile-menu{
    display: none;
  }

}

@media (max-width: 992px) {
  .big-image {
    padding-top: 50px;
  }
  .main-header-logo img{
    padding-left: 12px;
  }
  body{
    padding-top: 36px;
  }
  .main-header{
    width: 100%;
    position: fixed;
    top: 0;
    margin-top: 0px;
   
    z-index: 10000;
  }
 .main-header-logo{
  padding-top: 5px;
 }
  
  .main-header-nav .main-menu{
    display: none;
  }
  .main-header-nav .mobile-menu{
    display: none;
  }
  .main-header-nav .menu__btn{
    left: auto;
    right: 20px;
    top: 21px;
  }

  .main-header-nav{
    background-color: white;
    opacity: 1;
  }
  .login-icons {
    display: flex;
    padding-right: 70px;
    padding-left: 7px;
    padding-top: 10px;
    gap: 10px;
  }

  .icon {
    margin-right: 10px;
    cursor: pointer;
  }
  .btn-login-block{
    display: none;
  }
  .mobile-menu{
    display: flex;
    justify-content: center;
  }
  .main-header-logout{
      margin-left: 0px;               
  width: auto;
      
    }
  }

  @media (max-width: 992px) {
    .title-1 {
      font-size: 50px;
      line-height: 55px;
    }
  
    .left-side {
      padding: 50px 30px;
    }
  }
  
  @media (max-width: 768px) {
    .title-1 {
      font-size: 40px;
      line-height: 45px;
    }  

    .welcome,
    .title-1 {
      animation: none;
    }
    .hide-on-small {
      display: none;
    }
  }

  @media (max-width: 480px) {
    .container-tittle .left-side{
      max-width: 100%;
      width: 100%;
      float: none;
      display: flex;
      flex-direction: column;
    }
    .container-tittle .right-side{
      width: 100%;
      float: none;
      display: flex;
      flex-direction: column;
    }
    section .right-side{
      max-width: 100%;
    }
    .small-image{
      display: none;
    }
    .big-image {
      padding-top: 20px;
    }
}
  
  @media (max-width: 480px) {
    .title-1 {
      font-size: 32px;
      line-height: 38px;
    }
  
    .descrip {
      font-size: 12px;
      line-height: 20px;
    }
  }




  @media (max-width: 1122px) {
    .container-tittle .left-side{
      padding: 12px 12px;
    }
    .small-image{
      display: none;
    }
    section .right-side{
      display: flex;
    }
    .big-image{
      height: 100%;    
  }
  .down-header .nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
    .ul-nav-shop{
      padding-left: 12px;
  }
  .sort-container{
    margin-left: 12px;
  }
  .product-section:target .product-card {
    animation: none;
    opacity: 1;
    transform: translateY(0);
  }

  .product-card {
    opacity: 1; 
    transform: translateY(0); /
  }
  .pagination{
    margin-bottom: 30px;
  }

  .section-1{
    gap:0px
  }
  .block-child {
    gap:0px
       
  }
  .blog-container{
    margin-bottom: 30px;
    gap: 40px;
  }
 
}
@media (max-width: 576px) {
  .block-child {
    width: 100%;
    max-width: 400px;
    flex-direction: column;
    align-items: center;
  }
  .content{
    text-align: center;
  }
  .link-find{
    margin-left: 0px;
  }
}
@media (max-width: 1198px) {
  .section-1{
    justify-content: center;
    gap: 20px;
  }
  .block-child {
    width: 100%;         
    max-width: 400px;    
    flex-direction: column; 
    align-items: center;
  }
  .content{
    text-align: center;
  }
  .link-find{
    margin-left: 0px;
  }
  .pagination{
    margin-bottom: 30px;
  }
}
@media (max-width: 1198px) {
  .down-section {
    padding-left: 12px;
    justify-content: center;
    gap: 20px;
  }
  .footer-block:not(:nth-child(3))::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 200px;
    width: 100%;
    height: 1px;
    background: rgba(70, 163, 88, 0.1);

  }
}
@media (max-width: 1070px) {
  .footer-first {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .contact-block {
    flex-direction: column;
    row-gap: 15px;
    text-align: center;
    padding: 15px;
  }

  .contact-item {
    justify-content: center;
  }

  .contact-item svg {
    margin-right: 10px;
  }

  .link-block > .link-list-block:not(:last-child) {
    display: none;    
  }
  .link-block{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .link-list-block {
    display: flex;
    width: 100%;
    justify-content: center;  
    align-items: center;
    gap: 10px;
  }
  .social-block{
    gap:10px;
  }
  .social-block h2 {
    padding-bottom: 10px;
    text-align: center;
  }
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .copyright {
    text-align: center;
    padding: 10px;
    font-size: 12px;
  }
}
