@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
@media (min-width: 993px) {
  .menu__btn {
    display: none;
  }
  #menu__toggle{
    display: none;
  } 
  .mobile-menu{
    display: none !important;
  }
}

@media (max-width: 992px) {
  .main-menu{
    display: none !important;
  }
  .mobile-menu{
    display: none !important;
  }


  .mobile-menu {
    margin: 0;
    display: none;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
}