@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
}
@media (min-width: 993px) {
  #menu__toggle {
    display: none;
  } 
  
}

@media (max-width: 992px) {
  .main-menu {
    display: none; 
  }
  /* .hamburger-menu {
    display: block;
  } */

  .main-menu {
    display: none;
    list-style: none;
    background-color: white;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  #menu__toggle:checked ~ .main-menu {
    display: block;
  }
}