.container-shop-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    background: #FFFFFF;
  }

/* Боковая менюха */

.sidebar {
    width: 310px;
    background-color: red;
    background-color: #FBFBFB;
}

.menu{
    width: 100%; 
}

aside nav h2{
    padding-left: 18px;
    padding-top: 14px;
    padding-bottom: 7px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #3D3D3D;
}
.category-list{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.category-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 24px;
    padding-left: 30px;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    color: #3D3D3D;

}
.category-list a {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner-img{
    width: 100%;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0) 0%, rgba(70, 163, 88, 0) 100%);




}

/* Второй хедер */
.down-header {
    width: 100%;
}

.nav {
    height: 23px;
    max-width: 840px;
    display: flex;
    justify-content: space-between;
    color: rgba(61, 61, 61, 1);
    /* align-items: center; */
}

.ul-nav-shop {
    display: flex;
}

.ul-nav-shop li {
    padding-right: 38px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.ul-nav-shop li a {
    position: relative;
    line-height: 16px;
}

.ul-nav-shop li a.active {
    font-weight: 700;
    color: #46A358;
}

.ul-nav-shop li a.active::after {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #46A358;
}

.sort-container {
    display: flex;
    gap: 5px;
    color: rgba(61, 61, 61, 1);
    margin-left: auto;
    align-items: flex-start;
}

.sort-container label {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    
}

.sort-container select {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    

}

 /* Ползунок */
 .price-range {
    width: 226px;
    padding-left: 18px;
    margin-top: 36px;
}
.price-range h2{
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: rgba(61, 61, 61, 1);
}


.slider-container {
    width: 100%;
    padding: 29px 0px 0px 12px;
    position: relative;
   
}

.slider-container input[type="range"] {
    position: absolute;
    width: calc(100% - 12px);
    appearance: none;
    pointer-events: none;
    z-index: 0;
}

/* Левый кружочек */
.slider-container input[type="range"]:nth-child(1) {
    z-index: 4; /* Поверх шкалы */
}

/* Правый кружочекк */
.slider-container input[type="range"]:nth-child(2) {
    z-index: 3; /* Поверх левого ползунка */
}



.slider-container input[type="range"]::-webkit-slider-runnable-track {
    height: 2px;
    /* border: 2px solid rgba(70, 163, 88, 1) */
    background-color: lightgray;  /* Нейтральный цвет фона */
    border: none;
    border-radius: 3px;
}


.slider-container input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 21px;
    height: 21px;
    background-color: rgba(70, 163, 88, 1);
    border-radius: 50%;
    border: 3px solid white; 
    pointer-events: all;
    cursor: pointer;
    margin-top: -9px; 
}

.slider-container::before {
    content: "";
    position: absolute;
    height: 4px;
    background: rgba(70, 163, 88, 1);  
    top: 12px;
    border-radius: 3px;
    z-index: 1;
}

.p-price {
    margin-top: 21px;
    margin-left: 12px;
    font-family: Cera Pro;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: rgba(61, 61, 61, 1);
}
.span-price{
    font-size: 15px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color: #46A358;
}

.filter-btn {
    margin: 16px 0px 0px 12px;
    background-color: rgba(70, 163, 88, 1);
    color: white;
    border: none;
    border-radius: 6px;
    padding: 8px 26px;
    cursor: pointer;
    border-radius: 5px;
    font-family: Cera Pro;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

}
.size-menu{
  margin-top: 46px;
  margin-bottom: 19px;  
}
.tittle-size{
    padding-bottom: 7px;
    padding-top: 0px;
}

/* Контейнер цветочки */

.goods{
    max-width: 840px;
    background: #FFFFFF;  
    
}

.container-goods{
    max-width: 840px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 28px; /* Горизонтальный отступ */
    row-gap: 70px;    /* Вертикальный отступ */
    margin-top: 31px;
    align-items: stretch;
    
}

.product-card{
    max-width: 258px;
    position: relative;
    border-top: 1px solid transparent;
}
.product-card:nth-last-child(-n+3) {
    row-gap: 0px;
}

.img-wrap{
    position: relative;
    background-color: #FBFBFB;
    padding: 23px 4px;
}

.badge{
    position: absolute;
    top: 14px;
    background: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    padding: 7px 9px;
    cursor: pointer;

}

.card-button{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    bottom: 54px;
    opacity: 0;
    transition: 0.3s;
button{
    padding: 8px;
    background:#FBFBFB;
    border-radius: 4px;
}  
}

.img-btn{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.product-card:hover .card-button {
    opacity: 1;
}
.product-card:hover{
    opacity: 1;
    border-top: 1px solid #46A358;
    transition: 0.3s;
}

.product-name{
    padding-top: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
.product-price{
    padding-top: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color:#46A358;
}

.pagination{
    width: 100%;
    padding-top: 90px;
    margin-bottom: 94px;
    display: flex;
    justify-content: flex-end;
    
}

.pagination ul {
    display: flex;
}

.pagination li {
    margin-right: 10px;
}
.pagination a {
    padding: 8px 12px;
    border: 1px solid  #E5E5E5;
    color: #333;
    border-radius: 4px;
}

.pagination a.active {
    background-color:#46A358;
    color:#FFFFFF;
    border-color: #46A358;
}

.pagination a:hover {
    background-color: #e0e0e0;
}